* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: arial;	
}

.contenedor {
	margin: 0 auto;
	width: 800px;
}

h3 {
	margin: 10px;
}

hr {
    width: 100px;
    border: 2px solid black;
    margin: 10px;
}

.imagen	{
	position: relative;
	display: inline-block;
	margin: 10px;
	filter: brightness(60%);
	-webkit-filter: brightness(60%);
}

.nombre	{
	position: absolute;
	bottom: 10px;
	left: 70px;
	color: white;
}